pipeline/PL_PROD_AM_DW_ActionReportIngest.json
{
	"name": "PL_PROD_AM_DW_ActionReportIngest",
	"properties": {
		"activities": [
			{
				"name": "Data Ingest from Air Maestro",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "TRUNCATE TABLE stg_airmaestro_action_report;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['SafetyActionID']"
								},
								"sink": {
									"name": "SafetyActionID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['DueDate']"
								},
								"sink": {
									"name": "DueDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['RequestDateTime']"
								},
								"sink": {
									"name": "RequestDateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['FindingID']"
								},
								"sink": {
									"name": "FindingID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['RootCause']"
								},
								"sink": {
									"name": "RootCause",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CorrectiveAction']"
								},
								"sink": {
									"name": "CorrectiveAction",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ActionNote']"
								},
								"sink": {
									"name": "ActionNote",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ActionType']"
								},
								"sink": {
									"name": "ActionType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ActionRefNo']"
								},
								"sink": {
									"name": "ActionRefNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Requestor']"
								},
								"sink": {
									"name": "Requestor",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Requestee']"
								},
								"sink": {
									"name": "Requestee",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Cause']"
								},
								"sink": {
									"name": "Cause",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ReportTitle']"
								},
								"sink": {
									"name": "ReportTitle",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ReportTypeName']"
								},
								"sink": {
									"name": "ReportTypeName",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AM_ActionReport",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_AirMaestroActionReport_Staging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Insert Failed Pipeline Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Data Ingest from Air Maestro",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Data Cleaning",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_adf_insert_pipeline_log]",
					"storedProcedureParameters": {
						"DurationSeconds": {
							"value": null,
							"type": "Int32"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LastProcessedTimestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineID": {
							"value": "PL-ADF-001",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Platform": {
							"value": "ADF",
							"type": "String"
						},
						"RecordsProcessed": {
							"value": {
								"value": "@activity('Data Ingest from Air Maestro').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunURL": {
							"value": {
								"value": "@concat('https://adf.azure.com/en/monitoring/pipelineruns/', pipeline().RunId)",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Insert Succeeded Pipeline Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Data Cleaning",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_adf_insert_pipeline_log]",
					"storedProcedureParameters": {
						"DurationSeconds": {
							"value": null,
							"type": "Int32"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LastProcessedTimestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineID": {
							"value": "PL-ADF-001",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Platform": {
							"value": "ADF",
							"type": "String"
						},
						"RecordsProcessed": {
							"value": {
								"value": "@activity('Data Ingest from Air Maestro').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunURL": {
							"value": {
								"value": "@concat('https://adf.azure.com/en/monitoring/pipelineruns/', pipeline().RunId)",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": "Succeeded",
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Data Cleaning",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Data Ingest from Air Maestro",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Workspace/Shared/Starspeed/Starspeed/Safety/External Safety Reporting/ETL_ExternalSafetyActionReport_v1"
				},
				"linkedServiceName": {
					"referenceName": "Databricks_Luxaviation",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Safety"
		},
		"annotations": []
	}
}