datafactory-uk-star/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactory-uk-star"
		},
		"AzureBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage'"
		},
		"Penzance_External_Sharepoint_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Penzance_External_Sharepoint'"
		},
		"SFTPAeroCRS_privateKeyContent": {
			"type": "secureString",
			"metadata": "Secure string for 'privateKeyContent' of 'SFTPAeroCRS'"
		},
		"SFTPAeroCRS_passPhrase": {
			"type": "secureString",
			"metadata": "Secure string for 'passPhrase' of 'SFTPAeroCRS'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"starspeeddatalake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'starspeeddatalake'"
		},
		"API_Air_Maestro_Action_Report_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://starspeed.airmaestro.co.uk/api/reports/180?format=JSON&AsAttachment=False"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://starspeed.airmaestro.co.uk/api/reports/157/?format=JSON&AsAttachment=False"
		},
		"Penzance_External_Sharepoint_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://qleap.sharepoint.com/:x:/r/sites/PenzanceExternal/Documents/DAILY%20STATS%20-%20LIVE/Daily%20Stats%20-%20Live.xlsm?d=w9556e19d49f244be96e6ee9c083b8b04&csf=1&web=1&e=ijTjfN"
		},
		"Penzance_External_Sharepoint_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "joel.sud@starspeed.co.uk"
		},
		"SFTPAeroCRS_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "sftp.aerocrs.com"
		},
		"SFTPAeroCRS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aerocrs_starspeed"
		},
		"starspeeddatalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://starspeeddatalake.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_DEV_AM_DW_ActionReport_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Action Report from Air Maestro to SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "TRUNCATE TABLE stg_airmaestro_action_report;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['SafetyActionID']"
										},
										"sink": {
											"name": "SafetyActionID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['DueDate']"
										},
										"sink": {
											"name": "DueDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['RequestDateTime']"
										},
										"sink": {
											"name": "RequestDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['FindingID']"
										},
										"sink": {
											"name": "FindingID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['RootCause']"
										},
										"sink": {
											"name": "RootCause",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CorrectiveAction']"
										},
										"sink": {
											"name": "CorrectiveAction",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ActionNote']"
										},
										"sink": {
											"name": "ActionNote",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ActionType']"
										},
										"sink": {
											"name": "ActionType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ActionRefNo']"
										},
										"sink": {
											"name": "ActionRefNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Status']"
										},
										"sink": {
											"name": "Status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Requestor']"
										},
										"sink": {
											"name": "Requestor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Requestee']"
										},
										"sink": {
											"name": "Requestee",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Cause']"
										},
										"sink": {
											"name": "Cause",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ReportTitle']"
										},
										"sink": {
											"name": "ReportTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ReportTypeName']"
										},
										"sink": {
											"name": "ReportTypeName",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AM_ActionReport",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_AirMaestroActionReport_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup Last Processed Timestamp",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy Action Report from Air Maestro to SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT *\nFROM stg_airmaestro_action_report\nWHERE RequestDateTime > '2025-05-01' -- Previously: (SELECT MAX(LastProcessedTimestamp) FROM ctl_pipeline_logs WHERE PipelineID= 'PL-ADF-001' AND Status = 'Success')\n;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_AirMaestroActionReport_Staging",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Last Processed Timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Last Processed Timestamp').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SendHTTPRequest",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"Content-Type": "application/json\n\n"
										},
										"url": "https://prod-12.westeurope.logic.azure.com:443/workflows/158a44a20e2345ed88b6d87250b17a5a/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=bj3aJ-5Or62FGQlyqM_BJneGdFWaKt0lYd_VVGGjVeY",
										"body": {
											"value": "{\n  \"Requestee\": \"@{item().Requestee}\",\n  \"Requestor\": \"@{item().Requestor}\",\n  \"ActionRefNo\": \"@{item().ActionRefNo}\",\n  \"RequestDateTime\": \"@{item().RequestDateTime}\",\n  \"DueDate\": \"@{item().DueDate}\",\n  \"ReportTitle\": \"@{item().ReportTitle}\",\n  \"ActionNote\": \"@{item().ActionNote}\"\n}",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Insert Pipeline Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_insert_pipeline_log]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": null,
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastProcessedTimestamp": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineID": {
									"value": "PL-ADF-001",
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Platform": {
									"value": "ADF",
									"type": "String"
								},
								"RecordsProcessed": {
									"value": {
										"value": "@activity('Copy Action Report from Air Maestro to SQL').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunURL": {
									"value": {
										"value": "@concat('https://adf.azure.com/en/monitoring/pipelineruns/', pipeline().RunId)",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": "Succeeded",
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Insert Failed Pipeline Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Action Report from Air Maestro to SQL",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_insert_pipeline_log]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": null,
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastProcessedTimestamp": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineID": {
									"value": "PL-ADF-001",
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Platform": {
									"value": "ADF",
									"type": "String"
								},
								"RecordsProcessed": {
									"value": {
										"value": "@activity('Copy Action Report from Air Maestro to SQL').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunURL": {
									"value": {
										"value": "@concat('https://adf.azure.com/en/monitoring/pipelineruns/', pipeline().RunId)",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": "Failed",
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Insert Failed Pipeline Log_copy1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup Last Processed Timestamp",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_insert_pipeline_log]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": null,
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastProcessedTimestamp": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineID": {
									"value": "PL-ADF-001",
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Platform": {
									"value": "ADF",
									"type": "String"
								},
								"RecordsProcessed": {
									"value": {
										"value": "@activity('Copy Action Report from Air Maestro to SQL').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunURL": {
									"value": {
										"value": "@concat('https://adf.azure.com/en/monitoring/pipelineruns/', pipeline().RunId)",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": "Failed",
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Insert Failed Pipeline Log_copy1_copy1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_insert_pipeline_log]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": null,
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastProcessedTimestamp": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineID": {
									"value": "PL-ADF-001",
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Platform": {
									"value": "ADF",
									"type": "String"
								},
								"RecordsProcessed": {
									"value": {
										"value": "@activity('Copy Action Report from Air Maestro to SQL').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunURL": {
									"value": {
										"value": "@concat('https://adf.azure.com/en/monitoring/pipelineruns/', pipeline().RunId)",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": "Failed",
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Safety"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_AM_ActionReport')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_AirMaestroActionReport_Staging')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TEST_AM_DW_ActionReportIngest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Action Report from Air Maestro to SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "TRUNCATE TABLE stg_airmaestro_action_report;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['SafetyActionID']"
										},
										"sink": {
											"name": "SafetyActionID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['DueDate']"
										},
										"sink": {
											"name": "DueDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['RequestDateTime']"
										},
										"sink": {
											"name": "RequestDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['FindingID']"
										},
										"sink": {
											"name": "FindingID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['RootCause']"
										},
										"sink": {
											"name": "RootCause",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['CorrectiveAction']"
										},
										"sink": {
											"name": "CorrectiveAction",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ActionNote']"
										},
										"sink": {
											"name": "ActionNote",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ActionType']"
										},
										"sink": {
											"name": "ActionType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ActionRefNo']"
										},
										"sink": {
											"name": "ActionRefNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Status']"
										},
										"sink": {
											"name": "Status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Requestor']"
										},
										"sink": {
											"name": "Requestor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Requestee']"
										},
										"sink": {
											"name": "Requestee",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Cause']"
										},
										"sink": {
											"name": "Cause",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ReportTitle']"
										},
										"sink": {
											"name": "ReportTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ReportTypeName']"
										},
										"sink": {
											"name": "ReportTypeName",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AM_ActionReport",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_AirMaestroActionReport_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Insert Failed Pipeline Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Action Report from Air Maestro to SQL",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_insert_pipeline_log]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": null,
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastProcessedTimestamp": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineID": {
									"value": "PL-ADF-001",
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Platform": {
									"value": "ADF",
									"type": "String"
								},
								"RecordsProcessed": {
									"value": {
										"value": "@activity('Copy Action Report from Air Maestro to SQL').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunURL": {
									"value": {
										"value": "@concat('https://adf.azure.com/en/monitoring/pipelineruns/', pipeline().RunId)",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": "Failed",
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Insert Succeeded Pipeline Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Action Report from Air Maestro to SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_adf_insert_pipeline_log]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": null,
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"LastProcessedTimestamp": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineID": {
									"value": "PL-ADF-001",
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Platform": {
									"value": "ADF",
									"type": "String"
								},
								"RecordsProcessed": {
									"value": {
										"value": "@activity('Copy Action Report from Air Maestro to SQL').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunURL": {
									"value": {
										"value": "@concat('https://adf.azure.com/en/monitoring/pipelineruns/', pipeline().RunId)",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Status": {
									"value": "Succeeded",
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Safety"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_AM_ActionReport')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_AirMaestroActionReport_Staging')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AM_ActionReport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "API_Air_Maestro_Action_Report",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "API"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/API_Air_Maestro_Action_Report')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_AirMaestroActionReport_Staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ActionRefNo",
						"type": "nvarchar"
					},
					{
						"name": "RequestDateTime",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DueDate",
						"type": "date"
					},
					{
						"name": "ClosedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "Requestee",
						"type": "nvarchar"
					},
					{
						"name": "Requestor",
						"type": "nvarchar"
					},
					{
						"name": "Cause",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "ActionType",
						"type": "nvarchar"
					},
					{
						"name": "ReportTypeName",
						"type": "nvarchar"
					},
					{
						"name": "ReportTitle",
						"type": "nvarchar"
					},
					{
						"name": "FindingID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CorrectiveAction",
						"type": "nvarchar"
					},
					{
						"name": "RootCause",
						"type": "nvarchar"
					},
					{
						"name": "ActionNote",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_airmaestro_action_report"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Air_Maestro_Action_Report')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "API Connection to Action Report from Air Maestro",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_Air_Maestro_Action_Report_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"Authorization": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Penzance_External_Sharepoint')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Penzance_External_Sharepoint_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('Penzance_External_Sharepoint_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Penzance_External_Sharepoint_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFTPAeroCRS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('SFTPAeroCRS_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "SshPublicKey",
					"userName": "[parameters('SFTPAeroCRS_properties_typeProperties_userName')]",
					"privateKeyContent": {
						"type": "SecureString",
						"value": "[parameters('SFTPAeroCRS_privateKeyContent')]"
					},
					"passPhrase": {
						"type": "SecureString",
						"value": "[parameters('SFTPAeroCRS_passPhrase')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/starspeeddatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Starspeed Azure Data Lake Storage Gen 2",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('starspeeddatalake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('starspeeddatalake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRG_ActionReportIngest_Schd_Daily_Test')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Triggers daily at 5 AM for the Action Report Ingest pipeline.",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_TEST_AM_DW_ActionReportIngest",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-05-21T14:46:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								5
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_TEST_AM_DW_ActionReportIngest')]"
			]
		}
	]
}